# gradle
.gradle/
build/
build_BTW/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# macos
*.DS_Store

# journeymap resources
journeymap_decompiled/
journeymap_extracted/
*.jar

# changelogs
changelog_*.md
CHANGELOG_MODRINTH.md
